.img-title{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
}
.experiences-title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}
.price-per-person{
    font-size: 15px;
    color: #88888a;
    margin-bottom: 0;
}
.star-icon{
    color: #FED55F;
}